# Pandas:

In [ ]:
- pandas is a python library.
- Pandas is used to analyze data.
- Pandas is a data manipulation package in python for tabular data.
- i.e., data in the form of rows and columns also known as dataframes.
- We can think of a dataframe as an excel sheet.

# what is pandas used for?

In [ ]:
- Pandas is used throughout the data analysis workflow.
- with the help of pandas,we can:
  1)Import datasets from datbases,spread sheets,comma-separated values(CSV) files and more.
  2)clean datasets,for example,by dealing with missing values.
  3)Tidy datasets by reshaping their sstructure into a suitable format for analysis.
  4)Aggregate data by calculating summary statistics such as the mean of columns,correlation between them and more.

# Installation of pandas:

In [ ]:
- For installing the pandas is straight forward,just use the pip install commoand in your terminal.

In [4]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\revan\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\revan\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\revan\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\revan\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\revan\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\revan\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

# Importing data in pandas:

In [ ]:
- to begin working with pandas,import the pandas python package as shown below:
- when importing pandas,the most common alias for pandas is pd

In [ ]:
import pandas as pd

# Importing CSV files:

In [ ]:
- Use read_CSV() with the path to the CSV file to read a comma-separated values file.

# Importing text files:

In [ ]:
- We need to specify a separator with the sep argument.
- The separator argument refers to the symbol used to separate rows in a dataframe.
- Comma(Sep=","),whitespace(Sep="\s"),tab(Sep="\t"), and colon(Sep=",") are the commonly used separators.
- Here \S represents a single white space character.

# Importing Excel files(single sheet)

In [ ]:
- reading excel files(both XLS and XLSX) is as easy as the read_excel() function using the file path as an input.

# Importing Excel files(multiple sheets)

In [ ]:
- Reading Excel files with multiple sheets is not that different.
- You just need to specify one additional argument,sheet_name,where we can either pass a string for the sheet name or an integer for the sheet position
- extracting the second sheet since python uses 0-indexing.

# Importing JSON file:

In [ ]:
- similar to the read_CSV() function,we can use read_json() for JSON file types with the JSON file name as the argument.

# Viewing and understanding DataFrames using pandas:

In [ ]:
How to view data using .head() and .tail()
#using head()
df.head(10)

#using tail()
df.tail(10)

In [ ]:
- Te .describe(0 method prints the summary statistics of all numeric columns such as count,mean,standard deviation,range and quartiles of numeric columns.

In [ ]:
df.describe()

In [ ]:
- The .info() method is a quick way to look at the data types,missing values and data size of a dataframe

In [ ]:
df.info()

In [ ]:
print(df.shape) #Get the number of rows and columns
print(df.shape[0]) #Get the number of rows only
print(df.shape[1]) #Get the number of columns only

In [ ]:
To get all columns and column names
df.columns

It can be converted to a list using a list() function
list(df.columns)

In [ ]:
Checking for missing values in pandas
df.isnull().head(10)

In [ ]:
finding Null values and adding them
df.isnull().sum()
df.isna().any()

# Slicing and extracting data in pandas:

In [ ]:
#Isolating one column using[]
df['profit'].head()

In [ ]:
#Isolating two or more columns using [[]]
df[['state','profit']].head()

In [ ]:
#Isolating one row using[]
df[df.index==45]

In [ ]:
#Isolating two or more rows using[]

In [ ]:
Similarly,two or more rows can be returned using the .isin() method instead of a==operator.
df[df.index.isin(range(2,10))]

In [ ]:
#Isolating two or more columns using [[]]
df[['state','profit']].head()

In [ ]:
#Isolating one row using[]
df[df.index==4]

In [ ]:
#Isolating two or more rows using[]
#similarly, two or more rows can be returned using the isin() method instead of a== operator.
df[df.index.isin(range(2,10))]

In [ ]:
- Using .loc[] and .iloc[] to fetch rows.
- You can fetch specific rows by labls or conditions.
- using .loc[] and .iloc[] ("location" and "integer location')
- .loc[] uses a label to pint to a row,column or cell, wheareas .ioc[] uses the numeric position.

In [ ]:
df.loc[5]

In [ ]:
dof.iloc[5]

In [ ]:
#you can also fetch multiple rows by providing a range in square brackets..
df.iloc[2:10]

In [ ]:
#to convert data into array
df.to_numpy()

# Cleaning data using pandas:

In [ ]:
- data cleaning is one of the most common tasks in data science.

In [ ]:
data=pd.read_CSV(r"titanic.CSV",usecols=['Age','Fare','Survived'])
data.head()

In [ ]:
#finding he null values and sum them together
 data=isnull().sum()

# Dealing with missing data technique:

# 1)Dropping missing values:

In [ ]:
- one way to deal with missing data is to drop it.
- This is particularly useful in cases where we have plenty of dta and losing a small portion won't impact the down stream analysis.
- we can use a .dropna() method.

In [ ]:
data1=data.dropna()

In [ ]:
- The axis argument lets you specify whether you are dropping rows or columns,with missing values.
- The default axis removes the rows containing NaNs.
- Use axis=1 to remove the columns with one or more NaN values.
- Also, notice how we using the argumeny inplace=True which lets you skip saving the output of .dropna() into a new dataframe.

In [ ]:
import pandas as pd
data=pd.read_CSV(r"titanic.CSV")
data.head()

In [ ]:
data.dropna(inplace=True,axis=0)
print(data.isnull().sum())
data.shape()
data.dropna(inplace=True,axis=0)
print(data.isnull().sum())

# 2)Replacing missing values:

In [ ]:
data=pd.read_CSV("titanic.csv",Usecols=['Age','Fare','Survived'])
data.head(12)

In [ ]:
#replacing the NAN value usinf mean()
mean_value=data['Age'].mean()
print(mean_value)

In [ ]:
data3=data.fillna(mean_value)

In [ ]:
data3.head(12)

In [ ]:
data=pd.read_CSV("titanic.csv",usecols=['Age','Fare','Survived'])

In [ ]:
data.head(30)

In [ ]:
#replacing the NAN value usinf median()
median_value=data['Age'].median()
data4=data.fillna(median_value)
print(median_value)

# 3)Duplicate data:

In [ ]:
data=pd.read_csv(r"tested.csv",usecols=['Age','Fare','Survived'])
data.head(12)

In [ ]:
#shape of dataset
data.shape

In [ ]:
data5=data.drop_duplicates()
data5.shape

In [ ]:
Remaining columns:
data=pd.read_CSV(r"titanic.csv",usecols=['Age','Fare','Survived'])
data.head()

In [ ]:
data.isna().sum()